<div id=adminPanel>
	<a href="?c=Admin&act=editRating">Управление отзывами</a>
	<a href="?c=Admin&act=editUser">Управление пользователями</a>
	<a href="?c=Admin&act=editGoodList">Управление товарами</a>
	<a href="?c=Admin&act=addGood">Добавить новый товар</a>
	<a href="?c=Admin&act=editOrder">Управление заказами</a>
</div>