<h1>{{ text }}</h1>

<form method="post" enctype="multipart/form-data">
	<p>Название товара</p>
	<input type="text" name="name">
	<p>Стоимость товара</p>
	<input type="text" name="price">
	<p>Информация о товаре</p>
	<textarea name="description" rows="10" cols="30"></textarea>
	<p>Сделать активным</p>
	<select name="active">
		<option value="Y">Y</option>
		<option value="N">N</option>
    </select>
	<p>Загрузить фото</p>
	<input type="file" name="img" accept="image/jpeg"><br></br>
	<input type="submit" value="Сохранить"> 	
</form>