{{ text }}
<h1>Войдите в систему</h1>
<form method="post">
    <p>Введите логин</p>
    <input type="text" name="login">

    <p>Ваш пароль</p>
    <input type="password" name="pass"><br><br>

    <input type="submit" name="auth" value="Войти">
</form>
<br>
<a href='index.php?c=User&act=reg'>Регистрация</a>