<h1>{{ text }}</h1>
<form method="post">
    <input type="hidden" name="referer" value="{{ referer }}">
    <p>Введите логин</p>
    <input type="text" name="login">

    <p>Ваш пароль</p>
    <input type="password" name="pass"><br><br>

    <input type="submit" name="auth" value="Войти">
</form>