<html>
  <head>
  <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>
  <body>
  <div class='galery'>
    {% for item in items %}
      <a href="fullImage.php?img={{ item['id'] }}" target="_blank">  <img class="image" width="150" height="150" src="small/{{ item['title'] }}" alt="{{ item['alt'] }}"></a>
    {% endfor %}
  </div>
  </body>
</html>